doctype
html
	head
		title #{title} - Raspberry Pi Weather Station
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",crossorigin="anonymous")
	body
		header
			h1 Raspberry Pi Weather Station
		
		.container
			.main-content
				block content
		
		footer
			p Running on the Raspberry Pi using Node and Jade.
		
		