doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{title} - Raspberry Pi Weather Station

        link(rel="stylesheet", href="/assets/bootstrap-3.3.6-dist/css/bootstrap.min.css")
        script(src="/assets/jquery-1.12.0.min.js")
        script(src="/assets/bootstrap-3.3.6-dist/js/bootstrap.min.js")
        script(src="/assets/Chart.js-master/Chart.min.js")
        //link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",crossorigin="anonymous")
    body
        header
            h1 Raspberry Pi Weather Station

        .container
            .main-content
                block content

        footer
            p Running on the Raspberry Pi using Node and Jade.


